@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";


:root{
  --steel-100: #FCFCFCff;
  --steel-200: #F6F7F9ff;
  --steel-300: #E7E9EDff;
  --steel-400: #B9BEC7ff;
  --steel-500: #868E9Eff;
  --steel-600: #2F333Aff;
  --main-color: #002E6Dff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--steel-600);
  -webkit-box-shadow: 0 0 0 1000px var(--steel-200) inset;
  box-shadow: 0 0 0 1000px var(--steel-200) inset;
  caret-color: var(--steel-900);
  transition: background-color 9999s ease-out 0s;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VF.woff2') format('woff2');
  font-display: swap;
}

* {
  font-family: 'Montserrat', sans-serif;
}
